* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jost";
  background-color: #f5f1eb;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body.menu-active {
  overflow: hidden;
  height: 100vh;
}

.section {
  padding: 96px 0px;
}

.sections-holder {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}

.btn {
  max-width: 170px;
  width: 100%;
  padding: 12px 0px;
  font-family: inherit;
  text-transform: capitalize;
  border: none;
  color: #f2f2f2;
  border-radius: 12px;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
}

.btn-link {
  max-width: 170px;
  width: 100%;
  text-decoration: none;
}

.off-screen-menu {
  background-color: #000000;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex; /* Changed from none to flex */
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.3s ease;
  transform: translateX(100%);
  z-index: 999;
  border-radius: 0px 0px 10px 10px;
  padding-top: 120px;
}

.off-screen-menu.active {
  right: 0;
  transform: translateX(0);
}

.off-screen-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin-bottom: auto;
}

.off-screen-top {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute; /* Added */
  top: 0; /* Added */
  left: 0; /* Added */
}

.off-screen-logo {
  height: 30px;
  object-fit: contain;
}

.close-btn {
  width: 35px;
  height: 35px;
  cursor: pointer; /* Added for better UX */
}

.mobile-item a {
  font-size: 30px !important;
}

.mobile-cta-btn {
  background-color: #f4e04d;
  color: #000000;
  font-family: inherit;
  font-weight: 700;
  padding: 12px 0px;
  border: 2px solid #f4e04d;
  border-radius: 12px;
  width: 80%;
  margin: 0px auto;
  font-size: 18px;
  margin: 0px auto 40px auto;
}

.mobile-cta-btn:hover {
  background-color: #ffffff;
  color: #000000;
  transform: translateY(-2px);
}

.mobile-menu-socials-holder {
  padding-bottom: 50px; /* Add padding to sit nicely at bottom */
  display: flex; /* Ensure it flexes */
  gap: 30px;
}

.mobile-menu-icons {
  width: 34px !important;
  height: 34px !important;
}

.mobile-nav {
  display: flex;
  display: none;
}

.mobile-logo {
  display: none;
}

.ham-menu {
  height: 35px;
  width: 35px;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}

.ham-menu.active {
  z-index: 1000;
  position: fixed; /* Added */
  left: 20px; /* Added - positions X on left */
  top: 20px; /* Added - positions X at top */
}

.ham-menu span {
  height: 4px;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 2px;
  position: absolute;
  left: 0; /* Added */
  transition: 0.3s ease;
  z-index: 1000;
}

.ham-menu.active span {
  background-color: #f2f2f2;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(2) {
  top: 50%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.mobile-only {
  display: none;
}

/* HEADER */
.header {
  padding: 20px 0px;
  background: transparent;
  z-index: 100;
  position: relative;
}

.header-holder {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
}

.nav-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  text-transform: capitalize;
  color: #f2f2f2;
  font-size: 18px;
}

.heading-btn {
  background-color: #f4e04d;
  color: #000000 !important;
  transition: all 0.3s ease;
}

.heading-btn:hover {
  background-color: #ffffff;
  color: #000000;
  transform: translateY(-2px);
}

/* HERO SECTION */
.hero {
  background-color: #000000;
}

.hero-section-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  max-width: 500px;
  width: 100%;
}

.hero-heading {
  font-size: 70px;
  text-transform: capitalize;
  font-family: "Outfit";
  color: #f2f2f2;
}

.one {
  text-transform: uppercase;
}

.hero-text {
  color: #f2f2f2;
  font-size: 24px;
  margin-bottom: 15px;
}

.hero-img {
  max-width: 600px;
  width: 100%;
  border-radius: 20px;
}

.hero-btns-holder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.hero-btn {
  background-color: #f4e04d !important;
  border: 2px solid #f4e04d !important;
  cursor: pointer;
  color: #000000;
}

.hero-btn:hover {
  background-color: #ffffff !important;
  color: #000000;
  transform: translateY(-2px);
  border: 2px solid #ffffff !important;
}

/* ABOUT SECTION*/
.about {
  background-color: #f2f2f2;
}

.about-section-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.about-text-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  max-width: 500px;
  width: 100%;
}

.about-title {
  font-family: "Outfit";
  font-size: 50px;
}

.about-text {
  font-size: 18px;
  color: #000000;
  line-height: 1.6;
}

.arrow-up-icon {
  display: none;
}

.about-btn {
  border: none;
  text-transform: capitalize;
  background: transparent;
  font-family: "Jost";
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 5px;
}

.about-btn:hover .arrow-down-icon {
  margin-bottom: -5px;
  transition: all 0.1s ease;
}

.about-btn:hover .arrow-up-icon {
  margin-top: -5px;
  transition: all 0.1 ease;
}

/* Glavni kontejner za flip karticu */
.flip-card {
  max-width: 600px;
  width: 100%;
  aspect-ratio: 1/1;
  perspective: 1000px;
  position: relative;
}

/* Unutrašnji deo koji se rotira */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

/* Dodaje se klasa flip-card.flipped za rotaciju */
.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

/* Prednja i zadnja strana */
.flip-card-front,
.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  overflow: hidden;
}

/* Prednja: slika */
.flip-card-front img {
  width: 100%;
  /*height: 100%;*/
  border-radius: 20px;
}

/* Zadnja: tekst */
.flip-card-back {
  background-color: #f2f2f2;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  overflow: hidden;
}

/* Tekst kontejner sa scroll ako predugo */
.full-about-text {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding-right: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

/* Stil teksta */
.full-about-text p {
  font-size: 18px;
  color: #000000;
  line-height: 1.6;
  margin: 0;
  width: 100%;
  max-width: 500px;
}

/******/

/* SERVICE SECTION */
.service {
  background-color: #f2f2f2;
}

.service-section-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.service-section-heading-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.service-section-heading {
  font-size: 50px;
  font-family: "Outfit";
  color: #000000;
}

.service-section-subheading {
  font-size: 18px;
  color: #000000;
}

.service-card-holder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}

.card {
  width: 100%;
  border-radius: 20px;
  background-color: #d8d8d8;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-width-holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  width: 90%;
  margin: 0px auto;
  padding: 20px 0px;
  flex: 1;
}

.card-icon-holder {
  width: 40px;
  height: 40px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.card-icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(10%) saturate(7%)
    hue-rotate(186deg) brightness(113%) contrast(90%);
}

.card-heading {
  font-size: 24px;
  font-family: "Outfit";
  text-transform: capitalize;
  color: #000000;
}

.card-text {
  color: #000000;
  line-height: 1.5;
}

.card-list {
  padding-left: 20px;
  color: #000000;
}

.card-list li {
  font-size: 15px;
}

.card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Jost";
  font-size: 18px;
  padding: 8px 0px;
  text-align: left;
  border: none;
  border-radius: 12px;
  gap: 5px;
  cursor: pointer;
  color: #000000;
  background-color: #f4e04d;
  width: 100%;
  margin-top: 10px;
  font-weight: 700;
}

.card-btn:hover {
  background-color: #ffffff;
  color: #000000;
  transform: translateY(-2px);
}

.card-btn-link {
  text-decoration: none;
  width: 100%;
  margin-top: auto;
}

.card-btn:hover .btn-icon {
  margin-left: 5px;
  transition: all 0.1s ease;
}

.card-btn a {
  text-decoration: none;
  color: #000000;
  font-family: "Jost";
}

.btn-icon {
  width: 20px;
  height: 20px;
}

/* CONTACT SECTION */
.contact {
  background-color: #4d4d4d;
}

.contact-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-side {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.contact-heading-holder {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}

.contact-heading {
  font-size: 50px;
  font-family: "Outfit";
  color: #f2f2f2;
}

.contact-subheading {
  font-size: 18px;
  color: #f2f2f2;
}

.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}

.label-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 5px;
}

label {
  color: #f2f2f2;
}

input {
  padding: 10px 0px;
  border-radius: 12px;
  border: none;
  width: 100%;
  background-color: #7f7f7f;
  color: #f2f2f2;
  text-indent: 10px;
  cursor: pointer;
  font-family: "Jost";
  font-size: 16px;
}

textarea {
  width: 100%;
  background-color: #7f7f7f;
  border-radius: 12px;
  text-indent: 10px;
  padding-top: 10px;
  color: #f2f2f2;
  font-family: "Jost";
  cursor: pointer;
  font-size: 16px;
  min-height: 120px;
  max-width: 500px;
  margin-bottom: 10px;
}

textarea::placeholder {
  color: #f2f2f2;
  font-family: "Jost";
}

.contact-btn-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contact-btn {
  color: #000000;
  background-color: #f4e04d !important;
}

.contact-btn:hover {
  background-color: #ffffff !important;
  color: #000000;
  transform: translateY(-2px);
}

/* FOOTER */
footer {
  background-color: #4d4d4d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-holder {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 20% cover 15%;
}

.socials-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-icon {
  width: 24px;
  height: 24px;
}

.footer-icon:hover {
  transform: scale(1.05);
}

.icon-bg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}

.icon-bg a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.soc-label {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  opacity: 0;
  transition: all 0.3s ease;
  font-family: "Jost";
}

.icon-bg:hover .soc-label {
  opacity: 1;
  top: -30px;
  color: #f2f2f2;
}

.line {
  max-width: 1200px;
  width: 100%;
  height: 2px;
  background-color: #7f7f7f;
  border: none;
  border-radius: 10px;
}

.attribute {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 15px;
  gap: 5px;

  color: #f2f2f2;
}

.attribute a {
  text-decoration: none;
  color: #f2f2f2;
}

/* MEDIA QUERIES*/
@media screen and (max-width: 1200px) {
  .header-holder {
    width: 90%;
  }

  .sections-holder {
    width: 90%;
  }

  .footer-holder {
    width: 90%;
  }

  .attribute {
    width: 90%;
  }

  .line {
    width: 90%;
  }

  .hero-img {
    max-width: 500px;
  }

  .hero-heading {
    font-size: 50px;
  }

  .hero-text {
    font-size: 22px;
  }

  .about-title {
    font-size: 40px;
  }

  .about-text {
    font-size: 16px;
  }

  .about-btn {
    font-size: 16px;
  }

  .full-about-text p {
    font-size: 16px;
  }

  .service-section-heading {
    font-size: 40px;
  }

  .service-section-subheading {
    font-size: 16px;
  }

  .service-card-holder {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact-heading-holder {
    gap: 10px;
  }

  .contact-heading {
    font-size: 40px;
  }

  .contact-subheading {
    font-size: 16px;
  }

  .form-holder {
    gap: 10px;
  }

  .form-side {
    max-width: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .btn {
    max-width: 110px;
    font-size: 15px;
  }

  .btn-link {
    max-width: 110px;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .hero-img {
    max-width: 400px;
  }

  .form-side {
    max-width: 370px;
  }
}

@media screen and (max-width: 860px) {
  .card {
    max-width: 860px;
  }

  .nav {
    display: none;
  }

  .off-screen-menu {
    display: flex;
  }

  .mobile-nav {
    display: block;
  }

  .mobile-btn {
    display: block;
  }

  .hero-section-holder {
    flex-direction: column;
    align-items: normal;
    gap: 40px;
  }

  .hero-text-holder {
    max-width: 800px;
  }

  .hero-heading {
    font-size: 60px;
  }

  .hero-text {
    font-size: 27px;
    max-width: 500px;
  }

  .hero-img {
    max-width: 800px;
  }

  .btn {
    max-width: 150px;
  }

  .btn-link {
    max-width: 150px;
  }

  .about-section-holder {
    flex-direction: column-reverse;
  }

  .about-text-holder {
    max-width: 800px;
  }

  .about-text {
    font-size: 18px;
  }

  .about-btn {
    font-size: 18px;
  }

  .flip-card {
    max-width: 800px;
  }

  .flip-card-front {
    height: auto;
  }

  .flip-card-back {
    padding: 2rem 0;
  }

  .full-about-text {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .full-about-text p {
    align-items: flex-start;
    font-size: 18px;
    max-width: 800px;
  }

  .service {
    padding-top: 60px;
  }

  .service-section-heading-holder {
    text-align: center;
  }

  .service-section-subheading {
    font-size: 18px;
  }

  .service-card-holder {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    max-width: 800px;
  }

  .contact-holder {
    flex-direction: column;
    gap: 40px;
  }

  .contact-subheading {
    font-size: 18px;
  }

  .form-side {
    max-width: 800px;
  }

  #message {
    max-width: 800px;
  }

  .socials-holder {
    gap: 0;
  }
}

@media screen and (max-width: 700px) {
  .hero-heading {
    font-size: 45px;
  }

  .footer-holder {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }

  .nav-holder {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .socials-holder {
    gap: 10px;
  }

  .footer {
    padding-top: 0px !important;
    padding-bottom: 40px !important;
  }
}

@media screen and (max-width: 600px) {
  .section {
    padding: 60px 0px;
  }

  .service-card-holder {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .btn {
    font-size: 14px;
    max-width: 100px;
  }

  .btn-link {
    max-width: 100px;
  }

  .hero-text {
    font-size: 22px;
  }
}
